*{
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to bottom,rgb(122,111,111),0%,rgb(37,31,31),100%); */
    background-color: gray;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    padding-top: 20px;
    user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background-color: #292f29;
    box-shadow: 0 19px 38px rgba(19, 19, 19, 0.24), o 0 15px 12px rgba(19, 19, 19, 0.24);
}

button {
    outline: none;
    border: 0;
    padding: 16px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    color: #ffce5c;
    transition: all 3000ms;
    border: 1px solid #0001;
}

button:hover {
    cursor: pointer;
    color: #00a3f5;
    border: 1px solid #ffc5c2;
}

.result {
    position: relative;
    width: 320px;
    height: 80px;
    padding: 8px;
    overflow: hidden;
    background-color: rgba(19, 19, 19, 0.64);
    font-size: 32px;
    line-height: 2;
    color: #60d63c;
    text-align: right;
    direction: rtl;
    white-space: nowrap;
    box-sizing: border-box;
}

.function button, .math-operations button{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #d63c6b;
}

.functions button:hover, .math-operations button:hover{
    color: #b696a0;
}

.numbers{
    width: 240px;
    float: left;
}
.numbers button{
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.numbers button:last-child{
    width: 100%;
}